html {
    box-sizing: border-box;
    font-family: Lato;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

.Main {
    text-align: center;
    background-color: #e6ecf2;
    background-image: url('/img/bg-img.png');
    background-position: left;
    background-repeat: no-repeat;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 72px;

        &-logo {
            
        }
        &-navigation{
            display: flex;
            justify-content: flex-end;

            &-item {
                font-size: 12px;
                font-weight: 900;
                letter-spacing: 0.3px;
                color: #374656;
                padding-left: 36px;
            }
        }
    }

    &-info {
        text-align: center;
        padding: 200px 0 80px;
        color: #374656;

        &-title{
            font-size: 35px;
            font-weight: bold;
            line-height: 1.37;
            letter-spacing: 0.8px;
            margin: 0;
        }

        &-text{
            font-size: 16px;
            letter-spacing: 0.4px;
            margin: 0;
            padding: 8px 0 48px;
        }

        &-select {
            width: 592px;
            height: 48px;
            border-radius: 8px;
            box-shadow: 0 4px 16px 0 rgba(29, 107, 178, 0.05);
            background-color: #ffffff;

            &-wrap {

            }
        }
    }
}

.Body {
    font-family: Lato;
    background-color: #f1f5f8;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 16px;
            line-height: 2;
            color: #374656;
            padding: 24px 16px 0;

            &:first-child{
                padding-bottom: 16px;
                font-size: 22px;
                font-weight: bold;
                line-height: 1.45;
                color: #374656;
            }

            &:nth-child(2) {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 24px;
            }
        }
    }

    &-title {
        margin: 0;
        font-size: 35px;
        font-weight: bold;
        line-height: 1.37;
        letter-spacing: 0.8px;
        text-align: center;
        color: #374656;
        padding: 96px 0 80px;
    }

    &-text {
        font-size: 16px;
        line-height: 2;
        color: #374656;
        padding: 8px 16px;
    }

    &--italic {
        font-style: italic;
        font-stretch: normal;
        color: #788392;
    }

    &-bg {
        border-radius: 8px;
        background-color: #e6ecf2;
        margin: 0;
    }

    &-point {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.45;
        text-align: left;
        color: #374656;
    }
}

.Footer {
    text-align: center;

    &-logo {
        padding: 48px 0;
    }
    &-navigation {
        display: flex;
        justify-content: center;
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0 16px;
            width: 176px;

            li {
                text-align: center;
                padding-bottom: 16px;

                a {
                    font-size: 14px;
                    color: rgba(48, 69, 92, 0.8);
                }

                &:first-child {
                    font-size: 14px;
                    font-weight: 900;
                    color: #374656;
                    padding-bottom: 24px;
                }
            }
        }
    }
    &-links {
        
    }
    &-platform {

    }
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;

    &--small {
        max-width: 832px;
    }
}