html {
    box-sizing: border-box;
    font-family: Lato;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
}

.Main {
    text-align: center;
    background-color: #e6ecf2;
    background-image: url('/img/bg-img.png');
    background-position: left;
    background-repeat: no-repeat;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 72px;

        &-logo {
            padding-left: 16px;
        }

        &-navigation{
            display: flex;
            justify-content: flex-end;

            @media (max-width: 640px) {
                display: none;
            }

            &-item {
                font-size: 12px;
                font-weight: 900;
                letter-spacing: 0.3px;
                color: #374656;
                margin: 8px;
                padding: 8px;
                border: 1px solid transparent;
                cursor: pointer;
                text-transform: uppercase;
                transition: all .3s;
                border-radius: 8px;

                &:hover {
                    border-color:#374656;
                }

                &--lang {
                    &:hover {
                        border-color: transparent;
                    }
                }
            }
        }
    }

    &-info {
        text-align: center;
        padding: 200px 0 80px;
        color: #374656;

        @media (max-width: 640px) {
            padding: 200px 20px 80px;
        }

        &-title{
            font-size: 35px;
            font-weight: bold;
            line-height: 1.37;
            letter-spacing: 0.8px;
            margin: 0;
        }

        &-text{
            font-size: 16px;
            letter-spacing: 0.4px;
            margin: 0;
            padding: 8px 0 48px;
        }

        &-select {
            width: 592px;
            height: 48px;
            border-radius: 8px;
            box-shadow: 0 4px 16px 0 rgba(29, 107, 178, 0.05);
            background-color: #ffffff;
            outline: none;
            
            font-size: 16px;
            line-height: 3;
            letter-spacing: 0.4px;
            color: #374656;
            text-indent: 16px;

            @media (max-width: 640px) {
                width: calc(100% - 32px);
            }

            &-wrap {

            }
        }
    }
}

.Body {
    font-family: Lato;
    background-color: #f1f5f8;
    padding-bottom: 32px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 16px;
            line-height: 2;
            color: #374656;
            padding: 24px 16px 0;

            &:first-child{
                padding-bottom: 16px;
                font-size: 22px;
                font-weight: bold;
                line-height: 1.45;
                color: #374656;
            }

            &:nth-child(2) {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 24px;
            }
        }
    }

    &-title {
        margin: 0;
        font-size: 35px;
        font-weight: bold;
        line-height: 1.37;
        letter-spacing: 0.8px;
        text-align: center;
        color: #374656;
        padding: 96px 0 80px;
        overflow: hidden;

        @media (max-width:640px) {
            font-size: 30px;
            padding: 96px 20px 80px;
        }
    }

    &-text {
        font-size: 16px;
        line-height: 2;
        color: #374656;
        padding: 8px 16px;
        display: block;
    }

    &--italic {
        font-style: italic;
        font-stretch: normal;
        color: #788392;
    }

    &-bg {
        border-radius: 8px;
        background-color: #e6ecf2;
        margin: 0;
    }

    &-point {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.45;
        text-align: left;
        color: #374656;
    }

    &-slide {
        

        &-item{
            width: 384px !important;
            border-radius: 8px;
            box-shadow: 0px 6px 32px 0 rgba(29, 107, 178, 0.12);
            background-color: #ffffff;    
            
            @media (max-width: 640px) {
                width: 320px !important;
            }

            & > * {
                padding: 0 24px;
            }

            &-top {
                font-size: 44px;
                font-weight: 900;
                line-height: 1.18;
                text-align: center;
                color: #1487cf;
                margin: 0;
                padding: 45px 0 24px;
            }
    
            &-h1 {
                    font-size: 14px;
                    font-weight: 900;
                    line-height: 1.43;
                    letter-spacing: 0.3px;
                    text-align: center;
                    color: #374656;
                    margin: 0;
            }
    
            &-h2 {
                    font-size: 10px;
                    font-weight: 900;
                    line-height: 2;
                    letter-spacing: 0.2px;
                    text-align: center;
                    color: rgba(48, 69, 92, 0.8);
                    margin: 0;
            }
    
            &-table {
                    font-size: 14px;
                    line-height: 1.71;
                    color: #788392;
                    padding: 24px;

                    &-row {
                        display: flex;
                        justify-content: space-between;

                        & > * {
                            margin: 4px 0;
                        }
                    }
    
                    &-bold {
                        color: #374656;
                        font-weight: 700;
                    }
                    &-green {
                        color: #0a994a;
                    }
            }

            &-footer {
                background-color: #f1f5f8;
                padding: 8px 24px;
    
                &-text {
                    font-size: 12px;
                    line-height: 1.33;
                    text-align: left;
                    color: #8f99a7;
                }
            }
        }
    }
}

.Footer {
    text-align: center;

    &-logo {
        padding: 48px 0;
    }
    &-navigation {
        display: flex;
        justify-content: center;

        @media (max-width: 640px) {
            flex-direction: column;
            align-items: center;
        }
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0 16px;
            width: 176px;

            li {
                text-align: center;
                padding-bottom: 16px;

                a {
                    font-size: 14px;
                    color: rgba(48, 69, 92, 0.8);
                }

                &:first-child {
                    font-size: 14px;
                    font-weight: 900;
                    color: #374656;
                    padding-bottom: 24px;
                }
            }
        }
    }
    &-links {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;

        @media (max-width: 640px) {
            flex-direction: column;
            align-items: center;

            & > * {
                padding-bottom: 24px;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }

        &-phone {
            display: flex;
            width: 200px;

            &-icon {
                margin-right: 16px;
                display: flex;
            }
            &-title {
                margin: 0;
                font-size: 22px;
                font-weight: 900;
                line-height: 1.09;
                color: #374656;
                text-align: left;
            }

            &-sub{
                margin: 0;
                text-decoration: underline;
                font-size: 14px;
                line-height: 1.21;
                color: #0a994a;
                text-align: left;
            }

        }
        &-social {
            display: flex;
            &-icon {
                margin: 0 8px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;

                &--blue {
                    background-color: #3b5998;
                }
                &--red {
                    background-color: #ff0002;
                }
                &--purple {
                    background-color: #5851db;
                }
            }
        }
        &-cards {
            display: flex;
            width: 200px;
            justify-content: flex-end;

            @media (max-width: 640px) {
                justify-content: space-around;
            }

            &-icon {
                margin: 0 8px;
            }
        }
    }
    &-platform {
        padding: 0 0 40px;
    }
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;

    &--small {
        max-width: 832px;
    }
}

.language-swith {
    display: inline-block;
    margin: 0;
    padding-left: 0;
    font-size: 0;

    li{
        color: #fff;
        display: inline-block;
        position: relative;
    }

    li input[type=radio]{
        position: absolute;
        visibility: hidden;
    }

    li label{
        display: block;
        position: relative;
        font-weight: 900;
        font-size: 12px;
        padding: 0 12px;
        z-index: 9;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.25s linear;
    }

    li .check{
        display: block;
        position: absolute;
        border: 1px solid #374656;
        background-color: #374656;
        height: 36px;
        width: 100%;
        top: -10px;
        left: 0;
        z-index: 5;
        box-sizing: border-box;
        transition: border .25s linear;
    }

    & > li:first-of-type > .check{
        border-radius: 8px 0 0 8px;
    }

    & > li:last-of-type > .check{
        border-radius: 0 8px 8px 0;
    }

    input[type=radio]:checked ~ .check {
        background-color: #fff;
        border-color: #374656;
    }
    
    input[type=radio]:checked ~ label{
        color: #374656;
    }

}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
    max-width: 562px;
    margin: 0 auto;
    color: #374656;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: #fff;
    height: 48px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 16px 0 rgba(29, 107, 178, 0.05);
    border-radius: 8px;

  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 21px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #374656 transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  
  .select-selected.select-arrow-active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  

  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #374656 transparent;
    top: 15px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #374656;
    padding: 8px 24px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    background-color: #fff;
    height: 48px;
    display: flex;
    align-items: center;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: #f1f5f8;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    padding-bottom: 82px !important;
  }
.swiper-prev {
    bottom: 2px;
    right: 50%;
    transform: translateX(100px);
    width: 10px;
    position: absolute;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    z-index: 11;
    min-width: 32px;
    min-height: 32px;
    background-color: #e6ecf2;
    cursor: pointer;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.swiper-next {
    bottom: 2px;
    left: 50%;
    transform: translateX(-100px);
    width: 10px;
    position: absolute;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    z-index: 11;
    min-width: 32px;
    min-height: 32px;
    background-color: #e6ecf2;
    cursor: pointer;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet-active {
    background: #0a994a !important;
}

.hidden{
    display: none;
}