html {
  box-sizing: border-box;
  font-family: Lato; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.Main {
  text-align: center;
  background-color: #e6ecf2;
  background-image: url("/img/bg-img.png");
  background-position: left;
  background-repeat: no-repeat; }
  .Main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 72px; }
    .Main-header-logo {
      padding-left: 16px; }
    .Main-header-navigation {
      display: flex;
      justify-content: flex-end; }
      .Main-header-navigation-item {
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 0.3px;
        color: #374656;
        margin: 8px;
        padding: 8px;
        border: 1px solid transparent;
        cursor: pointer;
        text-transform: uppercase;
        transition: all .3s;
        border-radius: 8px; }
        .Main-header-navigation-item:hover {
          border-color: #374656; }
        .Main-header-navigation-item--lang:hover {
          border-color: transparent; }
  .Main-info {
    text-align: center;
    padding: 200px 0 80px;
    color: #374656; }
    .Main-info-title {
      font-size: 35px;
      font-weight: bold;
      line-height: 1.37;
      letter-spacing: 0.8px;
      margin: 0; }
    .Main-info-text {
      font-size: 16px;
      letter-spacing: 0.4px;
      margin: 0;
      padding: 8px 0 48px; }
    .Main-info-select {
      width: 592px;
      height: 48px;
      border-radius: 8px;
      box-shadow: 0 4px 16px 0 rgba(29, 107, 178, 0.05);
      background-color: #ffffff;
      outline: none;
      font-size: 16px;
      line-height: 3;
      letter-spacing: 0.4px;
      color: #374656;
      text-indent: 16px; }
      @media (max-width: 640px) {
        .Main-info-select {
          width: calc(100% - 32px); } }

.Body {
  font-family: Lato;
  background-color: #f1f5f8;
  padding-bottom: 32px; }
  .Body ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .Body ul li {
      font-size: 16px;
      line-height: 2;
      color: #374656;
      padding: 24px 16px 0; }
      .Body ul li:first-child {
        padding-bottom: 16px;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.45;
        color: #374656; }
      .Body ul li:nth-child(2) {
        padding-top: 0; }
      .Body ul li:last-child {
        padding-bottom: 24px; }
  .Body-title {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    line-height: 1.37;
    letter-spacing: 0.8px;
    text-align: center;
    color: #374656;
    padding: 96px 0 80px; }
  .Body-text {
    font-size: 16px;
    line-height: 2;
    color: #374656;
    display: block;
    padding: 8px 16px; }
  .Body--italic {
    font-style: italic;
    font-stretch: normal;
    color: #788392; }
  .Body-bg {
    border-radius: 8px;
    background-color: #e6ecf2;
    margin: 0; }
  .Body-point {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.45;
    text-align: left;
    color: #374656; }

.Footer {
  text-align: center; }
  .Footer-logo {
    padding: 48px 0; }
  .Footer-navigation {
    display: flex;
    justify-content: center; }
    @media (max-width: 640px) {
      .Footer-navigation {
        flex-direction: column;
        align-items: center; } }
    .Footer-navigation ul {
      list-style: none;
      margin: 0;
      padding: 0 16px;
      width: 176px; }
      .Footer-navigation ul li {
        text-align: center;
        padding-bottom: 16px; }
        .Footer-navigation ul li a {
          font-size: 14px;
          color: rgba(48, 69, 92, 0.8); }
        .Footer-navigation ul li:first-child {
          font-size: 14px;
          font-weight: 900;
          color: #374656;
          padding-bottom: 24px; }
  .Footer-links {
    display: flex;
    justify-content: space-between;
    padding: 50px 0; }
    @media (max-width: 640px) {
      .Footer-links {
        flex-direction: column;
        align-items: center; }
        .Footer-links > * {
          padding-bottom: 24px; }
          .Footer-links > *:last-child {
            padding-bottom: 0; } }
    .Footer-links-phone {
      display: flex;
      width: 200px; }
      .Footer-links-phone-icon {
        margin-right: 16px;
        display: flex; }
      .Footer-links-phone-title {
        margin: 0;
        font-size: 22px;
        font-weight: 900;
        line-height: 1.09;
        color: #374656;
        text-align: left; }
      .Footer-links-phone-sub {
        margin: 0;
        text-decoration: underline;
        font-size: 14px;
        line-height: 1.21;
        color: #0a994a;
        text-align: left; }
    .Footer-links-social {
      display: flex; }
      .Footer-links-social-icon {
        margin: 0 8px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px; }
        .Footer-links-social-icon--blue {
          background-color: #3b5998; }
        .Footer-links-social-icon--red {
          background-color: #ff0002; }
        .Footer-links-social-icon--purple {
          background-color: #5851db; }
    .Footer-links-cards {
      display: flex;
      width: 200px;
      justify-content: flex-end; }
      @media (max-width: 640px) {
        .Footer-links-cards {
          justify-content: space-around; } }
      .Footer-links-cards-icon {
        margin: 0 8px; }
  .Footer-platform {
    padding: 0 0 40px; }

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto; }
  .container--small {
    max-width: 832px; }

.language-swith {
  display: inline-block;
  margin: 0;
  padding-left: 0;
  font-size: 0; }
  .language-swith li {
    color: #fff;
    display: inline-block;
    position: relative; }
  .language-swith li input[type=radio] {
    position: absolute;
    visibility: hidden; }
  .language-swith li label {
    display: block;
    position: relative;
    font-weight: 900;
    font-size: 12px;
    padding: 0 12px;
    z-index: 9;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.25s linear; }
  .language-swith li .check {
    display: block;
    position: absolute;
    border: 1px solid #374656;
    background-color: #374656;
    height: 36px;
    width: 100%;
    top: -10px;
    left: 0;
    z-index: 5;
    box-sizing: border-box;
    transition: border .25s linear; }
  .language-swith > li:first-of-type > .check {
    border-radius: 8px 0 0 8px; }
  .language-swith > li:last-of-type > .check {
    border-radius: 0 8px 8px 0; }
  .language-swith input[type=radio]:checked ~ .check {
    background-color: #fff;
    border-color: #374656; }
  .language-swith input[type=radio]:checked ~ label {
    color: #374656; }
